.listView {
  width: 130px;
  height: 100%;
}

.scrollView {
  max-height: 92vh;
  overflow-y: scroll;
}

.listHeader {
  height: 3vh;
}

.busRoute {
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.selectedRoute {
  background: lightskyblue;
}
